<div class="container">
<!-- <p *ngIf="loginError$ | async as loginError">
  {{ loginError }}
</p>

<div *ngIf="profile$ | async as profile">
    {{ profile.firstName }} 
    <button type="button" (click)="getProfile()">Reload Profile</button>  

    <p *ngIf="relations$ | async as relations">
      {{ relations.length }}
    </p>

    <p *ngIf="requests$ | async as requests">
      {{ requests.length }}
    </p>
  </div>


  

  <div class="container" style="margin-left:30px">
    <div class="guy">
      <div class="guy__bg"><img src="https://uploads-ssl.webflow.com/5e4d7d8e291197662a47b5dc/5e6155d28137e09256a1694d_guy.svg"></div>
      <div>
        <div class="guy__level" id="level">
          <div class="guy__level__line"></div>
          <div class="guy__level__number" id="number"><span class="count">0</span></div>
        </div>
        <div class="guy__mask" id="mask">
          <div class="guy__image"><img src="https://uploads-ssl.webflow.com/5e4d7d8e291197662a47b5dc/5e6155d1b0e68131139e7182_guy--purple.svg">
          </div>
        </div>
      </div>
    </div>
  </div>
  
  <button class="btn" (click)="onClick()" style="margin-left:30px">replay</button> -->

  <app-card></app-card>

</div>


    






